@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,500i,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root{
    --white:#f1f1f1;
    --black:#181818;
    --grey:#4d4d4d;
    --lGrey:#afacac;
    --primary:#3498db;
    --container:calc(100% - 40px);
}
@import "modules/global";
@import "modules/media";

#accueil{
    position: relative;
    height: 491px;
    & img{
        margin: 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(1.25);
        z-index: 4;
    }
    .link-moi{
        display: inline-block;
        position: absolute;
        right: 15px;
        bottom: 35px;
        & p{
            float: left;
            font-family: "Quicksand";
            font-weight: 700;
            font-size: 18px;
            color: var(--black);
        }
        & a {
            font-size: 18px;
            background-color: var(--white);
            padding: 10px 12.5px;
            border-radius: 50px;
            float: right;
            margin-top: 6px;
            margin-left: 15px;
            transition: .3s all ease;
            border: 3px solid var(--white);
            &:hover{
                border-color: var(--black);
            }
            & i{
                color: var(--black);
            }
        }
    }
}
.section-infos{
    float: left;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}
.section-infos-r{
    float: right;
}
.section-title{
    font-size: 34px;
    font-family: "Quicksand";
    font-weight: 700;
}
.section-line{
    width: 75px;
    height: 3px;
    background-color: var(--black);
}
.animated-txt{
    line-height: 37px;
    font-size: 28px;
    & .inner {
        position: absolute;
        border: 0px solid red;
        height: 37px;
        line-height: 37px;
        font-size: 28px;
        overflow: hidden;
        display: inline-block;
        & span {
          animation: animate 7s ease infinite;
          position: relative;
        }
    }
    & .color-blue{
        color: var(--primary);
    }
}

@keyframes animate {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0px;
    }
    40% {
      top: -37px;
    }
    60% {
      top: -37px;
    }
    80% {
      top: -74px;
    }
    90% {
      top: -74px;
    }
  }